<h1>Store directory</h1>

<%@stores.created_at_order.each do |store| %>
  <h3><%= store.name %></h3>
  <h4><%= store.created_at.strftime("%A, %B %d, %Y") %></h4>
  <button type="button"><a href=<%= "/stores/#{store.id}/edit" %>>update</a></button>
<br>
<% end %>
<br>
<h2><a href="/stores/new">new store</a></h2>
