<h1>Guitars In Stock</h1>
<p>Our boutique shop specializes in guitars that offer the best value for experienced musicians.</p>
<% @guitars.each do |guitar| %>
  <h4><%= guitar.model %></h4>
  <ul>
    <li>This guitar is available for $<%= guitar.price %></li>
  </ul>
<% end %>
