<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width-device-width, initial-scale=1">
</head>

<div class="container-fluid">
<h1> SALES AND ACQUISITIONS </h1>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2><a href='/stores'>Hardware Stores</a></h2>
      </div>
      <div class="col">
        <h2><a href='/manufacturers'>Our Suppliers</a></h2>
      </div>
    </div>
</div>
</div>
