<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width-device-width, initial-scale=1">
</head>

<h1>Our Suppliers</h1>
<p>We create long-lasting partnerships with each of our guitar manufacturers.</p>
<a href= <%=url_for(action: 'new', controller: 'manufacturers')%> >New Supplier</a>
<% @manufacturers.each do |manu| %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= manu[:brand] %></h5>
      <p class="card-text">Created at: <%= manu[:created_at] %></p>
      <a href="/manufacturers/<%= manu[:id] %>" class="btn btn-primary">More info</a>
    </div>
  </div>
<% end %>
