<h3><%= @manufacturer.brand %>'s guitars </h3>
<% @guitars.each do |guitar| %>
  <h4><%= guitar.model %></h4>
  <ul>
    <li>
      <% if guitar.sold == true %>
        This guitar is sold out.
      <% else %>
        This guitar is available!
      <% end %>
    </li>
    <li>$<%= guitar.price %></li>
  </ul>
<% end %>
